{% extends 'base/base.html' %}

{% block content %}
  <h2>Добавить задачу в проект {{ project.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать задачу</button>
  </form>
{% endblock %}
