{% extends 'base/base.html' %}

{% block content %}
  <h2>Создать новый проект</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Отправить</button>
  </form>
{% endblock %}
