{% extends 'base/base.html' %}

{% block content %}
  <h1>{{ project.name }}</h1>
  <p>{{ project.description }}</p>
  
  <p><a href="{% url 'tasks:update_project' project.id %}">Изменить проект</a></p>
  
  <p><a href="{% url 'tasks:add_task_to_project' project.id %}">Добавить новую задачу</a></p>
  
  <p><a href="{% url 'tasks:delete_project' project.id %}"
        onclick="return confirm('Вы уверены, что хотите удалить этот проект?');">Удалить проект</a></p>
  
  <h2>Задачи в проекте</h2>
  <ul>
    {% for task in project.tasks.all %}
      <li><a href="{% url 'tasks:task_detail' project.id task.id %}">{{ task.name }} - {{ task.status }}</a></li>
    {% empty %}
      <li>В этом проекте пока нет задач.</li>
    {% endfor %}
  </ul>

{% endblock %}
