{% extends 'base/base.html' %}

{% block content %}
  <h2>Изменение проекта: {{ project.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}
