{% extends 'base/base.html' %}

{% block content %}
  <p><a href="{% url 'tasks:update_task' project_id=task.project.id task_id=task.id %}">Изменить задачу</a></p>
  
  <p><a href="{% url 'tasks:delete_task' project_id=task.project.id task_id=task.id %}"
        onclick="return confirm('Вы уверены, что хотите удалить эту задачу?');">Удалить задачу</a></p>
  
  <h1>{{ task.name }}</h1>
  <p>Статус: {{ task.status }}</p>
  <p>Описание: {{ task.description }}</p>
{% endblock %}
