{% extends 'base/base.html' %}

{% block content %}
  <h1>Удаление отчета об ошибке</h1>
  <p>Вы уверены, что хотите удалить отчет "{{ bugreport.title }}"?</p>
  <form action="{% url 'quality_control:delete_bug_report' bugreport.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
    <a href="{% url 'quality_control:bug_list' %}">Отмена</a>
  </form>
{% endblock %}
