{% extends 'base/base.html' %}

{% block content %}
  <h1>{{ bugreport.title }}</h1>
  
  <p><a href="{% url 'quality_control:update_bug_report' bugreport.id %}">Изменить отчет об ошибке</a></p>
  
  <p><a href="{% url 'quality_control:delete_bug_report' bugreport.id %}"
        onclick="return confirm('Вы уверены, что хотите удалить этот отчет?');">Удалить отчет об ошибке</a></p>
  
  <p>Связанный проект: <b>{{ bugreport.project }}</b></p>
  <p>Связанная задача: <b>{{ bugreport.task }}</b></p>
  <p>Статус: <b>{{ bugreport.status }}</b></p>
  <p>Приоритет: <b>{{ bugreport.priority }}</b></p>
  <p>Описание: {{ bugreport.description }}</p>
{% endblock %}
