{% extends 'base/base.html' %}

{% block content %}
  <h2>Добавить отчет об ошибке</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать отчет</button>
  </form>
{% endblock %}