{% extends 'base/base.html' %}

{% block content %}
  <h1>Cписок отчетов об ошибках</h1>
  
  <p><a href="{% url 'quality_control:bug_report_form' %}">Сообщить об ошибке</a></p>
  
  <ul>
    {% for bug_report in bugreport_list %}
      <li>
        <h2>{{ bug_report.title }}</h2>
        Статус: {{ bug_report.status }}
        <br>
        <a href="{% url 'quality_control:bug_detail' bug_report.id %}">Детальное представление</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}