{% extends 'base/base.html' %}

{% block content %}
  <h1>Cписок улучшений</h1>
  
  <p><a href="{% url 'quality_control:feature_request_form' %}">Предложить улучшение</a></p>
  
  <ul>
    {% for feature in featurerequest_list %}
      <li>
        <h2>{{ feature.title }}</h2>
        Статус: {{ feature.status }}
        <br>
        <a href="{% url 'quality_control:feature_id_detail' feature.id %}">Детальное представление</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}