{% extends 'base/base.html' %}

{% block content %}
  <h1>Удаление запроса на улучшение</h1>
  <p>Вы уверены, что хотите удалить улучшение "{{ featurerequest.title }}"?</p>
  <form action="{% url 'quality_control:delete_feature_request' featurerequest.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Удалить">
    <a href="{% url 'quality_control:feature_list' %}">Отмена</a>
  </form>
{% endblock %}
