{% extends 'base/base.html' %}

{% block content %}
  <h1>Информация по улучшению: {{ featurerequest.title }}</h1>
  
  <p><a href="{% url 'quality_control:update_feature_request' featurerequest.id %}">Изменить запрос на улучшение</a></p>
  
  <p><a href="{% url 'quality_control:delete_feature_request' featurerequest.id %}"
        onclick="return confirm('Вы уверены, что хотите удалить этот запрос?');">Удалить запрос на улучшение</a></p>
  
  <p>Связанный проект: <b>{{ featurerequest.project }}</b></p>
  <p>Связанная задача: <b>{{ featurerequest.task }}</b></p>
  <p>Статус: <b>{{ featurerequest.status }}</b></p>
  <p>Приоритет: <b>{{ featurerequest.priority }}</b></p>
  <p>Описание: {{ featurerequest.description }}</p>
{% endblock %}