{% extends 'base/base.html' %}

{% block content %}
  <h2>Изменение запроса на улучшение: {{ feature_request.name }}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Сохранить</button>
  </form>
{% endblock %}
