{% extends 'base/base.html' %}

{% block content %}
  <h1>Система контроля качества</h1>
  <a href="{% url 'quality_control:bug_list' %}">Список всех багов</a>
  <br>
  <a href="{% url 'quality_control:feature_list' %}">Запросы на улучшение</a>
{% endblock %}